# Virtual environments
.venv/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage
.coverage

# VS Code
.vscode/

# Secrets / environment
.env
